body {
    padding: 0;
    margin: 0;
    background-color: #F0F1F2;
}

header {
    background-color: white;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin: 0;
    margin-left: 15px;
    color: #7BB0A3;
}

.right-elements {
    display: flex;
    align-items: center;
}

.right-elements a {
    text-decoration: none; 
    color: black; 
}

.right-elements{
    margin-right:15px ;
}

.right-elements span {
    margin-left: 15px;
}